.image {
    height: 300px;
    width: 400px;
    object-fit: cover;
}

#maintata {
    background-image: url(./images/tatalogo.png);
    background-size: 350px;
    background-repeat: repeat-y;
    background-position: center bottom;
}

#sundardiv {
    background-image: url(./images/google-logo-png.png);
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: center bottom;
}

#markdiv {
    background-image: url(./images/Facebook_Logo_2023.png);
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: center bottom;
}

div {
    width: 400px;
    display: inline-block;
    border: 5px dashed rgb(46, 44, 44);
    padding: 20px;
    text-align: center;
    background-color: gray;
    margin: 10px;
}

#secondmarkdiv {
    background-image: url(./images/Facebook_Logo_2023.png);
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
}

#secondsundardiv {
    background-image: url(./images/google-logo-png.png);
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: scroll;
}

#thirdsundardiv {
    background-image: url(./images/google-logo-png.png);
    background-repeat: no-repeat;
    background-origin: padding-box;
    border: 10px dashed black;
    background-clip: padding-box;
}

#thirdmarkdiv {
    background-image: url(./images/Facebook_Logo_2023.png);
    background-repeat: no-repeat;
    border: 10px dashed black;
    padding: 15px;
    background: lightblue;
    background-clip: border-box;
}

#thirdtata {
    background-image: url(./images/tatalogo.png);
    background-repeat: no-repeat;
    background-origin: border-box;
    border: 10px dashed black;
    background-clip: border-box;
    padding: 15px;
    background: lightblue;
}
